<div class="row">
    <div class="col-8 m-auto">
      <form [formGroup]="formGroupClient">
  
          <div class="mb-3">
          <label for="nome" class="form-label">Nome:</label>
          <input type="text" formControlName="nome" class="form-control" id="nome" placeholder="Nome">
        </div>

  
        <div class="mb-3">
          <label for="contato" class="form-label">Contato:</label>
          <input type="text" formControlName="contato" class="form-control" id="contato" placeholder="Contato">
      </div>

  
      <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="text" formControlName="email" class="form-control" id="email" placeholder="email">
    </div>

    <div class="mb-3">
        <label for="sala" class="form-label">Sala:</label>
        <input type="text" formControlName="sala" class="form-control" id="sala" placeholder="sala">
    </div>

      
      <div class="mb-3 d-flex justify-content-end">
        <button class="btn btn-outline-warning me-2" (click)="clean()">Limpar</button>
        <button class="btn btn-outline-success" (click)="save()">Salvar</button>
      </div>
  
      </form>
  </div>
  
  <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nome</th>
          <th scope="col">Contato</th>
          <th scope="col">Email</th>
          <th scope="col">Sala</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let atributos2 of supplier" >
          <th scope="row">{{atributos2.id}}</th>
          <td>{{atributos2.nome}}</td>
          <td>{{atributos2.contato}}</td>
          <td>{{atributos2.email}}</td>
          <td>{{atributos2.sala}}</td>
          <td>
            <button class="btn btn-outline-info me-2" (click)="edit(atributos2)">Editar</button>
            <button class="btn btn-outline-danger" (click)="delete(atributos2)">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>