<div class="row">
    <div class="col-8 m-auto">
      <form [formGroup]="formGroupClient">
  
        <div class="mb-2">
          <label for="nome" class="form-label">Nome do Cliente:</label>
          <input type="text" formControlName="nome" class="form-control" id="nome" placeholder="Nome">
        </div>
  
        <div class="mb-2">
          <label for="contato" class="form-label">Contato:</label>
          <input type="text" formControlName="contato" class="form-control" id="contato" placeholder="Contato">
        </div>
  
        <div class="mb-2">
          <label for="email" class="form-label">Email:</label>
          <input type="text" formControlName="email" class="form-control" id="email" placeholder="Email">
        </div>
  
        <div class="mb-2">
          <label for="materia" class="form-label">Matéria:</label>
          <input type="text" formControlName="materia" class="form-control" id="materia" placeholder="Matéria">
      </div>
  
        <div class="mb-3 d-flex justify-content-end">
          <button class="btn btn-outline-warning me-2" (click)="clean()">Limpar</button>
          <button class="btn btn-outline-success" (click)="save()">Salvar</button>
        </div>
  
      </form>
    </div>
  
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nome</th>
          <th scope="col">Contato</th>
          <th scope="col">Email</th>
          <th scope="col">Matéria</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let atributos of home">
          <th scope="row">{{atributos.id}}</th>
          <td>{{atributos.nome}}</td>
          <td>{{atributos.contato}}</td>
          <td>{{atributos.email}}</td>
          <td>{{atributos.materia}}</td>
          <td>
            <button class="btn btn-outline-info me-2" (click)="edit(atributos)">Editar</button>
            <button class="btn btn-outline-danger" (click)="delete(atributos)">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
